body {
  background-color: #1D2157;
  color: #111;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  background-color: #111;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar {
  border-bottom: 1px solid #222;
}
.card:hover {
  transform: translateY(-12px) scale(1.02);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.8);
}

